:root{
    --primaryColor:#3ac4c4 ;
    --secondaryColor: #1261af ;
    --lightColor: #FFFFFF ;
    --bgColor-1: background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
    --bgColor-2: #020218 ;
    --padding: 8%;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "New Amsterdam", sans-serif;
    color:var(--lightColor) ;
    font-size: 16px;
}
.home{
    width: 100% ;
    height: 100vh ;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}
#typewriter {
  color: #00ffcc;
  font-weight: bold;
}
p{
    color: var(--secondaryColor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}
h1{
    font-size: 4.65rem;
    margin: 8px;
}
h2{
    font-size: 2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
    letter-spacing: 0.1rem;
}
h4{
    font-size: 1rem;
    letter-spacing: 0.12rem;
    
}
h5{
    font-size: 1.37rem;
    margin-bottom: 0.2rem;
    letter-spacing: 1px;
    margin-top: 0.8rem;
}
nav{
    
    padding-top: 2.2rem;
    padding-left: 5%;
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*+plus*/
.logo{
    padding: 7px;
    border:solid rgba(2, 11, 20, 0.432) 1px ;
    background-color:rgba(2, 11, 20, 0.432);
    border-radius: 24px;
    margin-bottom: 1rem;
    
}


nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a{
    color: var(--lightColor);
    text-decoration: none ;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover {
    color: var(--primaryColor);
}
.btn{
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem ;
    border-radius: 30px; 
    border: 2px solid transparent;
    transition: 0.5s;

}

.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}
.content{
    padding: 0 var(--padding);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-textes{
    position: relative;
    bottom: 70px;
}

.social{
    margin-top: 3.5rem;
}
.social img{
    margin-right: 2rem;
    width: 2.5rem;
}
.social img:hover {
    transform: scale(1.2);
    transition: 0.4s;
}
.home .container-images{
    width:45% ;
    height: 90%;
    position: relative;
    align-self: flex-end;
}
.home .container-images img{
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.home .container-images:hover .shape{
    bottom: 40px;
}
.home .container-images:hover .pic{
    left: 45%;
}
.about{
    background-color: var(--bgColor-2);
    padding: 2rem (--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about .container-images{
    width: 35%;
    
}
.about .container-images img{
    width: 90%;
   
}

.about .container-textes {
    width: 45%;
}
.Services{
    background-color: var(--bgColor-1);
    padding: 2rem(--padding);
}
.texte-center{
    text-align: center;
}
.box{
    display: flex;
    justify-content: space-between ;
}
.card{
    width: 300px;
    background-color: var(--bgColor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
    margin-bottom: 1rem;
}
.card em{
    font-size: 2rem;
    text-align: center;
    color: var(--primaryColor);
    margin: 2rem;
}
.card em:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.skills{
    background-color: var(--bgColor-2);
    padding: 2rem (--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .container-images{
    width: 35%;
}
.skills .container-images img{
    width: 90%;
}


.skills .container-skills{
    width: 50%;
    margin-left: 1.5rem;
}
.content-skills{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.skill{
    width: 100px;
    height: 100px;
    background-color: rgba(0, 71, 129, 0.226);
    border-radius: 50%;
    margin: 0 2rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skill img:hover {
    transform: scale(1.2);
    transition: 0.6s;
}
.skills-titel{  /*+plus*/
    margin-left: 30%;
}
.skill img{
    width: 70%;
}

footer{
    padding: 2rem var(--padding);
    background-color: var(--bgColor-1);
}
footer .content-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .content-footer p {
    color: var(--lightColor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}
footer .content-footer .end {
    color: var(--primaryColor);
    margin-top: 1rem;
}
footer .communication{
    padding: 1px ;
    background-color: #0f0c29;
    
}

/*   media queries */
@media screen and (max-width: 575px) {
    :root {
        --padding: 1.5rem ;
    }
    html {
        font-size: 13px;
    }
    .home .container-images{
        display: none;
    }
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        background-color: var(--bgColor-1);
        border-bottom: 1px solid var(--bgColor-2);
    }
    nav > a {
        display: none;
    }
    nav ul {
        display: none;
    }
    
}
